body {
    color: white;
    font-family: 'Gilroy';
    text-align: center;
    $yellowColor: #FCD54C !global;

    .title-blog {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        margin-bottom: 70px;
        color: white;


        .title-text {
            font-weight: 700;
            font-size: 60px;
            line-height: 80px;
        }

        .search {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            width: 30%;
            border: 1px solid #929292;
            height: 70px;


            .search-input {
                border: 0;
                background-color: #272727;
                color: white;
                margin: 0;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                width: 70%;
                height: 100%;
            }

            .search-input::-webkit-search-cancel-button {
                display: none;
            }

            input:focus {
                outline: none;
            }

            .search-icon {
                width: 30px;
                height: 30px;
                margin: 0;
            }
        }

    }

    .pages {
        margin-top: 30px;
        margin-bottom: 170px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #929292;
    }

    .another {
        color: white;
        font-size: 16px;
    }
    .blogs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
        gap: 30px;
    }
    .blog {
        display: flex;
        flex-direction: column;   
        width: 350px;    
        border: 1px solid $yellowColor;
    
        .textBlog {
            display: flex;
            flex-direction: column;
            text-align: left;
            padding: 17px 30px;
    
            .blog-title-little {
                font-weight: 700;
                font-size: 25px;
                line-height: 35px;
            }
    
            .blog-text {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #929292;
                margin-top: 20px;
                margin-bottom: 15px;
            }
    
            a {
                text-decoration: none;
                color: white;
                margin: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    body {
        .title-blog {
            justify-content: space-around;

            .title-text {
                font-weight: 600;
                font-size: 40px;
                line-height: 60px;
            }

            .search {
                width: 60%;
                height: 70px;
            }
        }
        .blogs {
            .blog {
                max-width: 250px;
    
                img {
                    width: 100%;
                }
            }
        }
    }
}