.wrapperForm {
    display: flex;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    height: 0;
    //padding: 50px 125px;    
    transition: all 3s ease-in-out;
    z-index: 50;

    .wrapper.opened {
        animation: modal 3s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
    }

    //animation from modal window
    @keyframes modal {
        0% {
            // opacity: 0;
            height: 0px;
            padding: 0px 0px;
        }

        25% {
            // opacity: 0.2;
            height: 70vh;
            padding: 20px 50px;
        }

        50% {
            //opacity: 0.5;
            height: 150vh;
            padding: 30px 75px;
        }

        75% {
            //opacity: 0.7;
            height: 230vh;
            padding: 40px 100px;
        }

        100% {
            //opacity: 1;
            height: 320vh;
            padding: 50px 125px;
        }
    }

    .informationUser {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: 'Gilroy';
        color: black;
        padding: 50px 125px;
        background-color: white;
        margin-right: 0;

        h3 {
            font-weight: 700;
            font-size: 48px;
            line-height: 59px;
        }

        p {
            font-family: 'WorkSans';
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 45px;
        }

        .normal {
            outline: none;
            border: none;
            width: 450px;
            border-bottom: 1px solid black;
            margin-bottom: 20px;
        }
    }

    input[type=checkbox] {
        display: none;
    }
    .send {
        padding: 5px 20px;
    }
    .checkbox {
        color: #FCD54C;
        font-size: 30px;
        line-height: 30px;
        margin-left: 50px;
        margin-bottom: 520px;
    }

    .forUser {
        color: #272727;
        font-weight: 700;
        padding-bottom: 15px;      
    }
}

//validation modal for feedback

.invalid {
    color: rgb(234, 118, 118);
}

.error {
    color: rgb(234, 118, 118);
}

@media (max-width: 768px) {
    .wrapperForm {
        .informationUser {
            padding: 30px 75px;

            h3 {
                font-weight: 400;
                font-size: 36px;
                line-height: 49px;
            }

            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 25px;
            }
        }

        .checkbox {
            margin-left: 20px;
            margin-bottom: 420px;
        }
    }
}